[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qrcode = "*"
pypdf2 = "<3.0.0"
reportlab = "*"
isort = "*"
black = "*"
img2pdf = "*"
pylabels = "*"

[dev-packages]

[requires]
python_version = "3.10"
